extends ../layout

block content 
  h2 新メンバー追加
    form(action=`/teams/${team.id}/members`, method="post")
      _csrf
      _method='post'

      div
        label(for='role')
        select#role(name="user")
          each user in users
            option(value!=user) #{user.displayName}
        button(type="submit") 追加

  h2 メンバー一覧